.cover__subtitle {
  grid-column: 2/3;
  grid-row: 2/3;
  z-index: 3;
  align-self: start;
  justify-self: center;
  text-align: center;
  max-width: 360px;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
}

@media (max-width: 685px) {
  .cover__subtitle {
    font-size: 16px;
  }
}

@media (max-width: 320px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 114%;
  }
}
